<!DOCTYPE html>
<html ng-app="ToDo">
  <head>
    <meta charset="utf-8">
    <title>ToDo</title>
    <link rel="stylesheet" href="main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body ng-controller="ToDoCtrl" >

    <form name="todoForm">
      Add New ToDo
      <input type="text" name="todo" ng-model="newText">
      <input type="date" name="date" value="" ng-model="newDate">

      <button type="button" name="button" ng-click="addTodo()">Add</button>

    </form>
    <br />
    <hr />

    <table>
      <tr>
        <th>Completed</th>
        <th>Text</th>
        <th>Due Date</th>
        <td>Delete</td>
      </tr>
      <tr ng-repeat="item in items" index="{{ $index }}"  item="item" delete="delete()" complete="complete()" todo-item>
      </tr>
    </table>


    <script src="javascript/app.js" charset="utf-8"></script>
    <script type="text/javascript" src="javascript/directives/todoItem.js"></script>
    <script type="text/javascript" src="javascript/services/ToDoService.js"></script>

  </body>
</html>
