<!DOCTYPE html>
<html ng-app="ToDo">
  <head>
    <meta charset="utf-8">
    <title>ToDo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="app.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body ng-controller="ToDoCtrl" >

    <form name="todoForm">
      Add New ToDo
      <input type="text" name="todo" ng-model="newText">
      <input type="date" name="date" value="" ng-model="newDate">

      <button type="button" name="button" ng-click="addTodo()">Add</button>

    </form>

    <table>
      <tr>
        <th>Text</th>
        <th>Due Date</th>
        <th>Completed</th>
        <th>X</th>
      </tr>
      <tr ng-repeat="item in items" >
        <td> {{ item.text }} </td>
        <td>{{ item.dueDate.getDate() + " " + " " + item.dueDate.getMonth() +" " +item.dueDate.getFullYear() }}</td>
        <td><input type="checkbox" name="checkbox" ng-model="complete" ng-click="completeToDo(item)" ></td>
        <td><a href="#" ng-click="removeToDo(item)">X</a></td>
      </tr>
    </table>



  </body>
</html>
